<div class="row">
  <div class="col-6">
    <%= form_with(model: current_recruting_event, local: true) do |f| %>
      <% if current_recruting_event.errors.any? %>
        <div id="error_explanation" class="alert alert-warning">
          <ul class="mb-0">
            <% current_recruting_event.errors.full_messages.each do |tsk| %>
              <li><%= tsk %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
  
      <div class="form-group">
        <%= f.label :end_of_application, '締切日' %>
        <%= f.text_field :end_of_application, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :date_of_event, '実施日' %>
        <%= f.text_field :date_of_event, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :event_name, '大会名' %>
        <%= f.text_field :event_name, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :application_form, '申込フォーム' %>
        <%= f.text_field :application_form, class: 'form-control' %>
      </div>

      <%= f.submit '投稿', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>