<table class="table table-striped table-bordered">
  <tr>
    <th class="text-center">練習・大会関連</th>
  </tr>
  <tr>
    <td>・今月の練習ノート：<%= link_to "https://docs.google.com/spreadsheets/d/1ee0OHaxtHB_VL3fJS2Xex9SUcEic1mLyx4bWHbDjqY8","https://docs.google.com/spreadsheets/d/1ee0OHaxtHB_VL3fJS2Xex9SUcEic1mLyx4bWHbDjqY8", target: :_blank %></td>
  </tr>
  <tr>
    <td>・大会速報：<%= link_to "https://docs.google.com/spreadsheets/d/14EYZ_jdSHZJbR26h4n8XVuoSJnDCBb3MJo8TSIj5mx0","https://docs.google.com/spreadsheets/d/14EYZ_jdSHZJbR26h4n8XVuoSJnDCBb3MJo8TSIj5mx0", target: :_blank %></td>
  </tr>
  <tr>
    <td>・大会実況：<%= link_to "https://docs.google.com/spreadsheets/d/10ILGFSkgkj6gvnSRST3bejND6mPzi9j47vws0rssUi0","https://docs.google.com/spreadsheets/d/10ILGFSkgkj6gvnSRST3bejND6mPzi9j47vws0rssUi0", target: :_blank %></td>
  </tr>
  <tr>
    <td>・<%= link_to "2019年度大会結果",tournament_results_path %></td>
  </tr>
  <tr>
    <td>・<%= link_to "2018年度大会結果(.pdf)","https://drive.google.com/open?id=1g-N8_isPgNYfVJ-9HcmHyc4mHtpRpaK-" %></td>
  </tr>
  <tr>
    <td>・<%= link_to "2017年度大会結果(.pdf)","https://drive.google.com/open?id=1g-N8_isPgNYfVJ-9HcmHyc4mHtpRpaK-" %></td>
  </tr>
  <tr>
    <td>・<%= link_to "2016年度大会結果(.pdf)","https://drive.google.com/open?id=1g-N8_isPgNYfVJ-9HcmHyc4mHtpRpaK-" %></td>
  </tr>
  <tr>
    <td>・<%= link_to "2015年度大会結果(.pdf)","https://drive.google.com/open?id=1g-N8_isPgNYfVJ-9HcmHyc4mHtpRpaK-" %></td>
  </tr>
</table>