<div class="row">
  <div class="col-6">
    <%= form_with(model: practice_result, local: true) do |f| %>
      <% if practice_result.errors.any? %>
        <div id="error_explanation" class="alert alert-warning">
          <ul class="mb-0">
            <% practice_result.errors.full_messages.each do |tsk| %>
              <li><%= tsk %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :chart_of_practice, '練習ノート' %>
        <%= f.text_area :chart_of_practice, class: 'form-control' %>
      </div>

      <%= f.submit '投稿', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>